* {
  font-family: 'Manrope', sans-serif;
}
.Hear-Call{
  background: #000000;
  border: 1px solid #F3F3F7;
  color: white;
 border-radius: 10px;
 padding: 10px;
 font-size: 13px;
  
}

/* useraccount */
.buttond{
  background-color: #47709D;
  border: none;
  border-radius: 10px;
  color: white;
height: Hug (40px)px;

padding: 5px ;
gap: 8px;
border-radius: 10px ;
opacity: 0px;

}

/* employees */
.buttonsort{
  background-color: #6D2828;
  border: none;
  border-radius: 10px;
  color: white;
height: Hug (40px)px;

padding: 5px ;
gap: 8px;
border-radius: 10px ;
opacity: 0px;
}


/* pagination */
.page-link.active, .active>.page-link{
  color: white !important;
  background-color: #5065F6 !important;
}

